extends layout

block content
  .row
    .container
      .row
        .input-field.col.s2.offset-s2
          input#username(type='text',value= user.username, readonly='readonly')
          label(for='username') Usuário
        .input-field.col.s3
          input#my-peer-id(type='text',data-user= user.username, readonly='readonly')
          label(for='my-peer-id') Meu Peer Id
        .input-field.col.s3
          input#destination-peer(type='text')
          label(for='destination-peer') Peer Destino
        .col.s4.offset-s2
          a#connect.waves-effect.waves-light.btn
            i.material-icons.left cloud
            | Conectar
        //.col.s4.pull-s1
        //  a#close.waves-effect.waves-light.btn
        //    i.material-icons.left cloud
        //    | Fechar conexão
      .row
        .file-field.input-field.col.s4.offset-s2
          .btn
            span File
            input#file(type='file')
          .file-path-wrapper
            input.file-path.validate(type='text')


    .col.l4.offset-l2
      h4.center Usuários conectados
      .row
        .container
          .col.l12.users
    .col.l4
      h4.center Arquivos recebidos
      .row
        .container
          .col.l12.files


  script(src='javascripts/peer-init.js')

